@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Lato&family=Merienda:wght@700&family=Montserrat:wght@500&family=Poppins&display=swapdisplay=swap");
.headerContainer {
    padding: 2em;
    .nav {
        display: flex;
        justify-content: space-between;
        height: 20px;
        margin-bottom: 5rem;
    }
    .anaya {
        display: flex;
        justify-content: space-between;
        height: 20px;
        a {
            align-self: center;
            margin-top: 1.5em;
            .logo {
                margin-left: 2.5em;
                max-width: 60%;
                height: auto;
                transition: all 0.3s ease-in-out;
            }
            .logo:hover {
                transform: scale(1.1);
            }
        }
    }

    ul {
        display: flex;
        list-style: none;
        gap: 2rem;
        align-items: center;
        a {
            text-decoration: none;
            color: #fff;
            font-family: "Poppins", sans-serif;
            font-size: 0.8rem;
        }
        li:hover {
            border-bottom: 2px solid #eccad7;
            border-radius: 5px;
            padding-bottom: 0.1rem;
        }
    }
    .right-nav {
        display: flex;
        gap: 2rem;
        align-items: center;
        a {
            text-decoration: none;
            color: #fff;
            font-family: "Poppins", sans-serif;
            font-size: 0.8rem;
        }
        a:hover {
            border-bottom: 2px solid #eccad7;
            border-radius: 5px;
            padding-bottom: 0.2rem;
        }
        .circulo {
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            background-color: #eccad7;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
/* Position and sizing of burger button */
.bm-burger-button {
    position: relative;
    width: 25px;
    height: 30px;
    left: 0px;
    top: 0px;
    transition: all 0.3s ease-in-out;
}
.bm-burger-button:hover {
    transform: scale(1.2);
}

/* Color/shape of burger icon bars */
// .bm-burger-bars {
// }

/* Color/shape of burger icon bars on hover*/
// .bm-burger-bars-hover {
//     transform: scale(1.5);
// }

/* Position and sizing of clickable cross button */
.bm-cross-button {
    padding: 1rem;
    margin-top: -60px;
    height: 24px;
    width: 24px;
    transition: all 0.3s ease-in-out;
}
.bm-cross-button:hover {
    transform: scale(1.2);
}

/* Color/shape of close button cross */
// .bm-cross {
// }

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
    height: 100vh;
}

/* General sidebar styles */
.bm-menu {
    background: linear-gradient(100deg, #a8c0ff 2%, #ffc2e2 98%);
    padding: 2.5em 0em 0 !important;
    font-size: 1.15em;
    height: 120vh;
    margin-top: -57px;
}

/* Wrapper for item list */
.bm-item-list {
    color: #b8b7ad;
    padding: 2em;
}

/* Individual item */
.bm-item {
    display: inline-block;
    padding: 1rem;
    transition: all 0.3s ease-in-out;
}
.bm-item:hover {
    background: #ffc2e2;
    border: none !important;
    padding: 2em 1.5em 2em !important;
    border-radius: 0 !important;
    // font-size: 1.15em !important;
}
.menu-item {
    font-size: 2rem;
}
